{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
              {% if post.verify_or_decline == 'verified' %}
                <a class="btn btn-success btn-sm mt-1 mb-1">Verified</a>
              {% elif post.verify_or_decline == 'declined' %}
                <a class="btn btn-danger btn-sm mt-1 mb-1">Declined</a>
              {% else %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1">Pending</a>
              {% endif %}
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.client_name }}</a></h2>
            <p class="article-content">{{ post.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
